/* Insertar fuente redonda, corroborar si uso la misma para títulos y parrafos */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GENERALES */

*{
font-family: "Poppins", sans-serif;
margin: 0;
padding:0;
box-sizing: border-box;
}

h1{
    position:relative;
    font-size: 3rem;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

h2{
    font-size: 2rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}


/* HEADER ANTES DE BOOTSTRAP*/
/*header{
    background-color: #d3d2d2c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0; /* Esto hace que el sticky se active cuando llegue al top */
    /*z-index: 1000;
    flex-direction: row;
    img{
        width: 70px;
    }
    nav{
        width: 75%;
        padding-right: 40px;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            li{
                a{
                    text-decoration: none;
                    color: #4b4a4a;
                    font-size: 1.3rem;
                }
            }
        }
    
    }
}*/

header{
    background-color: #dfdfdfad;
    position: sticky;
    z-index: 1000;
    top: 0;
    z-index: 1000;
    box-shadow:-3px 16px 11px -6px rgba(122,115,115,0.4);
    img{
        width: 60px;
    }
}


footer{
    background-color: #d3d2d2;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    gap: 40px;
    font-size: 1rem;
    img{
        width: 80px;
    }

    a{
        color: black;
        text-decoration: none;
        margin-right: 10px;
    }
    .card{
        background-color: #d3d2d2;
        border: none;
    }
    .card-title{
        font-size: large;
    }
    .card-text{
        font-size: medium;
    }
    .card-body {
        margin: 0; /* Asegura que no haya márgenes externos adicionales */
        p {
            margin-bottom: 5px; /* Reduce el espacio entre párrafos */
            line-height: 1.2; /* Ajusta el espaciado entre líneas dentro del párrafo */
        }
    }   

    .redes_sociales {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px; 
    }
}

.imgBackPrincipal{
    position: relative;
    background-size: cover;
    background-position: center;
    height: 70vh;
    align-content: center;
    padding-left: 20px;
    box-shadow: 0px -21px 21px -11px rgba(255,255,255,0.86) inset;
}


/* INDEX */

.h1_span{
    font-family: "Poppins", serif;
    font-weight: 180;
    font-size: 3.3rem;
    color: #ffffff;
    background-color: #ffffff63;
    box-shadow: 1px -1px 15px 5px rgba(219, 219, 219, 0.658);
    border-radius: 5px;
}

.backIndex{
    background-image: url(../assets/img/back_header_indx.jpg);
}

.section{
    display: inline-block;
    vertical-align: top;
    margin: 5vh;
}

.card-img-top{
    width: 15%;
    margin: 15px;
}

.sectionBeneficios{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-top: 30px;
    background-color: rgba(231, 130, 189, 0.624);
}

.imgBackSecundario{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    vertical-align: top;
    backdrop-filter: blur(15px);
    border: 5px solid #ffffff;
}


.parrafRosa{
    background-color: #fce4ec;
    align-items: stretch;
}

.img-card {
    height: 100%;
    object-fit: cover; 
}

.col-md-4 {
    display: flex; 
    align-items: stretch; /* Asegura que el contenido ocupe toda la altura disponible */
}

.contenedor{
    display: flex;
    justify-content: center;
}

/* PRODUCTOS */

.titulo{
    margin-top: 50px;
}

.backProductos{
    background-image: url(../assets/img/back_header_prod.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.container{
    margin-top: 40px;
    margin-bottom: 40px;
}

.galeria {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    margin-bottom: 40px;*/
    align-items: center;
    img {
        width: 200px;
        height: 200px;
        object-fit: cover; /* Ajusta la imagen para cubrir el área sin deformarla */
        border-top-left-radius: 5px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
        transition: .5s ease;
        /*border: 1px solid gray;*/
        /*box-shadow: -1px -3px 34px -3px #635858bf;*/
    }
    img:hover{
        transform: scale(1.15);
        opacity: 1;
        filter:contrast(120%);
    }
}


/*centrar veerticalmente el contenido de las tarjetas*/
.card_galeria{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: -1px -3px 34px -3px #635858bf
}

.card_body_galeria{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

/* CONTACTO */

.backContacto{
    background-image: url(../assets/img/back_header_cont.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.sectionCtos {
    display: flex;
    flex-wrap: wrap; /*divs se ajusten en pantallas chicas */
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; /* Ajusta el espacio entre los divs de forma uniforme */
    width: 100%; 
    height: 80%;
    padding: 0 10vh; 
}

.ubicaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* Ajusta el ancho para que los divs ocupen espacio adecuado en pantallas grandes */
    height: 90%;
    margin: 10px 0; /* Margen vertical */
    overflow: hidden;
}

.mapas {
    width: 100%; /* Asegura que el mapa ocupe el ancho del contenedor */
    height: 350px;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 10px;
}
.mapas:hover{
    transform: scale(1.1);
}

.sectionForm{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 30px;
    background-color: #d482169f;
}

form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    box-shadow: -1px 6px 39px -13px #635858bf;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    background-color: white;

}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .sectionCtos {
        flex-direction: column;
        align-items: center;
    }

    .ubicaciones {
        width: 90%; /* Ocupa casi todo el ancho en pantallas pequeñas */
    }
}
